/* .content-wrapper {
  position: absolute;
  background-color: #272727;
  width: 90%;
  max-width: 1600px;
  top: 10%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  border-radius: 5px;
  
} */

.content-container {
  display: flex;
  width: 100%;
  
}

.modal-poster {
  max-width: 750px;
}

.poster-landscape {
  display: none;
  height: 100%;
}

.poster-portrait {
  /* object-fit: contain; */
  max-width: 800px;
  padding: 10px 10px 5px 10px;
  
}

/* Container holding all the data about the movie / series */

.about-container{
  display: flex;
  flex-direction: column;
  margin: 10px 30px 10px 0px;
  padding-left: 50px;

}

/* Title of Movie / TV Series  */
.content-heading {
  display: flex;
  font-weight: bolder;
  font-size: 2rem;
  text-align: flex-start;
  padding: 30px 0 30px 0;
  width: 100%;

}

/* Movie / TV Series summary */
.content-overview {
  display: flex;
  width: 100%;
  text-align: justify;
  margin: auto;
  flex-grow: 3;
}

.btn-container {
  
}

.modal-tab {
  display: flex;
  flex-direction: row;
  width: 100%;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #272727;

}

::-webkit-scrollbar-thumb {
  background-color: #01ffc8;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #01fce8;
}



@media (max-width: 1000px) {
  .content-wrapper {
    align-items: center;
    justify-content: center;
  }

  .content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .poster-portrait {
    display: none;

  }

  .poster-landscape {
    display: flex;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 123%;
  }

  .modal-poster {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .about-container {
    padding: 2px;
    margin: 2px;
    
  }

  .content-heading {
    font-size: 1.5rem;
  }

   .content-overview {
     max-height: 200px;
     overflow: scroll;
     overflow-x: hidden;
     padding: 15px;
   }

  .btn-container {
    margin-top: 30px;
  }
}

