:root {
  --green: #01ffc8;
  --darkgrey: rgb(39, 39, 39);
  --activecol: rgb(2, 2, 2);
  --faded: rgba(2,2,2,.5);
  --common-font: 'Montserrat';
  --bg-main: #181818
}

/* Card */

.item-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 0px 0px 5px 0px;
  margin: 10px 7px;
  background-color: var(--darkgrey);
  position: relative;
  font-family: var(--common-font), sans-serif;
  transition: 0.2s;
  height: 640px;
}

.item-card:hover {
  background-color: var(--green);
  color: var(--darkgrey);
  transform: scale(1.05);
  box-shadow: 0px 0px 28px 10px rgba(83, 83, 83, 0.692);
  transition: 0.2s;
  
}

.btn-bg-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  height: 70px;
  padding: 10px;
}

.item-poster {
  height: 375px;
  margin-left: -8px;
  margin-top: -6px;
}

.item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  height: 60px;

}

/* Type of media TV or Movie */

.media-type {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: var(--faded);
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  
}

/* Content at the base of the item card */

.bottom-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  left: 0px;
  bottom: 0px;
  flex-direction: column;
  margin-top: 10px;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.521);
}

.item-date,
.item-lang,
.item-vote {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 5px;

}

.item-vote {
  font-size: 1rem;
  font-weight: bold;
}

/* ///////////// */

@media (max-width: 600px) {
  .item-card {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .item-card {
    width: 150px;
    height: 380px;
  }

  .item-poster {
    height: 210px;
  }
  
  .item-date,
  .item-lang,
  .item-vote {
    font-size: 0.5rem;
  }


}

